body {
font-family: Helvetica;
color: #4E5056;
}

/* Navigation bar */
.header {
    background-color: #F39200;
    width: 100%;
    height: 73px;
}

.wst-logo-orange {
   width: 73px;
    padding: 0px;
    margin: 0px;   
}

.nav-list-desktop {
    display: none;
}

.sub-categories-menu-desktop {
    display: none;
}

.sub-categories-where {
    display:none;
}

/* Burger menu */

.nav-links {
    text-transform: uppercase;
    display: none;
    background: #EDE9E9;
}

.nav-links a:hover {
    color: white;
}

.sub-nav-links {
    text-align: center;
}

/* Burger menu */
.nav-links a {
  color: #F39200;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block; 
}

/* Styling the burger menu */
a.icon {
    color: white;
    display: block;
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 30px;
}

a.icon:hover {
    color: tomato;
}


.placeholder {
    width: 100%;
}

.placeholder-text {
    margin-top: -5rem;
    color: white;
    text-align: center;
    font-size: 11px;
}


/* Main body text */
.body-text {
    padding: 0.5rem;
    font-size: 14px;
}


/* Footer */

footer {
    background-color: #F39200;
    max-width: 100%;
    max-height: 300px;
}

.footer-text {
    color: white;
    font-size: 7px;
    text-align: center;
    padding-top: 1rem;
}

.further-info {
    border-radius: 25px;
    background-color: white;
    margin: 20px 59px;
    height: 35px;
    padding: 3px;
}

form {
    position: relative;
}

input[type="submit"] {
    position: absolute;
    right: 0;
    z-index: 2;
    top: 2px;
    background: #F39200;
    color: white;
    border-radius: 70px;
    border: none;
    padding: 5px
}

.submit-button:hover {
    color: #f4b942;
}

input[type="email"] {
    color: #969696;
    border: none;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-left: 5px;
}


.follow-us {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    width: 50%;
    color: white;
    margin-left: 89px;
    height: 45px;
}

.fab:hover {
    color: 	tomato;
}

.copyright {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 10px;
    padding-top: -2rem;
    margin-top: -1rem;
}




/* Responsive */

/* Tablet */

@media screen and (min-width: 680px) {

/* Desktop */

@media screen and (min-width: 1240px) {
/* Navigation bar */

.header {
    height: 107px;
}

.wst-logo-orange {
    width: 106px;
}

.nav-list-desktop {
    padding-top: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    margin-top: -5rem;
    font-size: 15px;
}

.nav-list-desktop a {
    text-decoration: none;
    color: white;
}

.nav-list-desktop a:hover{
    color: tomato;
}
  
a.icon {
    visibility: hidden;
    display: none;
}

/* Mouseover menu to appear for Category list */

.where-list {
    color: white;
}

.where-list:hover {
color: tomato;
}


.category-list {
    color: white;
}

.category-list:hover {
    color: tomato;
}

.sub-categories-where {
    display: none;
    background-color: #EDE9E9;
    text-align: center;
    justify-content: space-around;
    display: flex;
    height: 49px;
    margin: 0;
    padding-top: 1.5rem;
}

.sub-categories-where a {
    text-decoration: none;
}

.sub-categories-where a li {
    color: #F39200;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none !important;
}

.sub-categories-where a li:hover{
color: white;
}

.sub-categories-menu-desktop {
    display: none;
    background-color: #EDE9E9;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: auto;
    padding-top:1rem;
    padding-bottom: 1rem;
}

.sub-categories-menu-desktop  a {
        text-decoration: none;  
    }

.sub-categories-menu-desktop a li {
    color: #F39200;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none !important;
}

.sub-categories-menu-desktop a li:hover {
    color: white;
}


/* Main body content - desktop */

.placeholder {
    height: 500px;
}

.placeholder-text {
    margin-top: -7rem;
    font-size: 17px;
}

.body-text {
    padding: 23px;
    font-size: 15px;
}

/* Footer-desktop */

.footer-text {
    font-size: 14px;
}

.further-info {
    padding: 10px;
    margin: 27px 338px;
}

.follow-us {
    font-size: 23px;
    width: 50%;
    height: 45px;
    margin: auto;
}

.copyright {
    font-size: 17px;

}

input[type="submit"] {
    padding: 11px;
    top: -2px;

}

